<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
		<style>
		  body {
			   background-color: #12001B;
         color: #ffffff;
         font-family: sans-serif;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
			}
      img {
        max-width: 400px;
        width: 100%;
      }
		</style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
